.bootstrap-tagsinput {
    display: block !important;
}

.bootstrap-tagsinput.disabled input{
   visibility:hidden !important; 
}
.bootstrap-tagsinput.disabled > span > span{
  display:none !important;
}


.img-anno {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#annotation-container {
    margin: -10px !important;
}