

.annotator-version-global {
    color: #fff;
}

.annotator-login {
    color: #fff;
    line-height: 50px;
    font-weight: bold;
    margin-right: 10px;
}

.meerkat-menu-button {
    height: 50px;
    width: 50px;
}

.meerkat-menu-image {
    margin-left: -2px;
}

#api-error-alert {
    margin-top: 20px;
}

.loading-full {
    font-size: 20px;
    margin-top: 30%;
    color: white;
}