{% extends "main_template.html" %}
{% block content_header %}
      <h1 id="annotation-title">
        
      </h1>
      <ol class="breadcrumb">
        <li><a href="/annotator-supreme/">Home</a></li>
        <li class="active">Just a test, go home!</li>
      </ol>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/annotator-supreme/static/meerkat/css/annotate-image.css">
<link rel="stylesheet" href="/annotator-supreme/static/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-warning">
            <!-- /.box-header -->
            <div class="box-body">
              <div id="annotation-container">
                <p id="tooltip-tag" data-toggle="tooltip" data-placement="top" title="Label: <input id='tag-tooltip-input' type='text'/>" data-html="true"></p>
                <img class="img-anno" id="img-to-anno" src="/annotator-supreme/static/meerkat/images/image-placeholder16-9.png">
                <div id="konva-container">
                </div>
              </div>
              <div class="image-edit-btns">
                <button id="image-rotate-ccw" type="button" class="btn btn-default"><i class="fa  fa-rotate-left"></i></button>
                <button id="image-rotate-cw" type="button" class="btn btn-default"><i class="fa  fa-rotate-right"></i></button>
                <button id="image-flip-h" type="button" class="btn btn-default"><i class="fa  fa-arrows-h"></i></button>
                <button id="image-flip-v" type="button" class="btn btn-default"><i class="fa  fa-arrows-v"></i></button>
              </div>
              <hr>
              <div class="row">
                <div class="form-group col-lg-6">
                    <label>Current label(s):</label>
                      <input type="text" id="labelInput" data-role="tagsinput" class="form-control">
                    <div class="checkbox">
                    <label>
                      <input type="checkbox" id="use-categories-chk"> Use the image categories
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-6">
                    <label>Select the dataset:</label>
                    <select mutiple class="form-control" id="dataset-sel">
                        {% for d in dataset_names %}
                            <option> {{ d }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-6">
                    <label>Now the image:</label>
                    <select mutiple class="form-control" id="image-sel">
                    </select>
                </div>
              </div>
              
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button id="add-user-btn" type="button" class="btn btn-primary"><i class="fa fa-save"></i> 
              Save</button>
            </div>
          </div>
          <!-- /.box -->
        </div>
  </div>
{% endblock %}
{% block load_script %}
<!-- <script src="/annotator-supreme/static/meerkat/js/via.js"></script> -->
<script src="/annotator-supreme/static/plugins/typeahead/typeahead.bundle.js"></script>
<script src="/annotator-supreme/static/plugins/konva/konva.min.js"></script>
<script src="/annotator-supreme/static/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="/annotator-supreme/static/meerkat/js/annotator-supreme.js"></script>

{% endblock %}

{% block script %}
  $('body').addClass('sidebar-collapse');  
  $(document).ready(function() {
    window.Annotator.selectDatasetImage("{{sel_dataset}}", "{{sel_image}}");
    window.Annotator.initDatasetData({{datasets | safe}})
  });
  

{% endblock %}
