{% extends "main_template.html" %}
{% block content %}

<div class="register-box">
  <div class="register-logo">
    <a href="/annotator-supreme/"><b>Annotator</b>Supreme</a>
  </div>

  <div class="register-box-body">
    <div class="alert alert-danger alert-dismissible hidden" id="error-message-container">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-ban"></i> Alert!</h4>
      <span class="error-message">Something went wrong.</span>
    </div>
    <p class="login-box-msg">Register for beer</p>

    <form action="" method="post" id="register-form">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Username" value="{{ request.form.username }}" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="email" placeholder="Email" value="{{ request.form.email }}" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input id="pass1" type="password" class="form-control" name="password" placeholder="Password" value="{{ request.form.password }}" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input id="pass2" type="password" class="form-control" placeholder="Retype password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
           <a href="/annotator-supreme/login" class="text-center">I already have a login</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

   
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock %}
{% block load_script %}
<script src="/annotator-supreme/static/meerkat/js/login-register.js"></script>
{% endblock %}