{% extends "main_template.html" %}
{% block content_header %}
      <h1>
        API Keys
        <!-- <small>Optional description</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="/annotator-supreme/">Home</a></li>
        <li class="active">Just a test, go home!</li>
      </ol>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/annotator-supreme/static/meerkat/css/visualize_images.css">
<section class="image-grid">
  {% for i in images %}
    <article class="image__cell is-collapsed">
      <a class="remove-img" data-id="{{ i.phash }}" href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
      <div class="image--basic">
          <div class="category-img"> {{ i.category }}</div>
          <a href="#expand-jump-0"><img id="expand-jump-0" class="basic__img" src="/annotator-supreme/image/thumb/{{ i.url }}" alt="Fashion 6"></a>
          <div class="arrow--up"></div>
      </div>
      <div class="image--expand">
          <a href="#close-jump-0" class="expand__close"></a><img class="image--large" src="/annotator-supreme/image/{{ i.url }}" alt="Fashion 6">
      </div>
  </article>
{% endfor %}

</section>  
{% endblock %}
{% block load_script %}
<script src="/annotator-supreme/static/meerkat/js/visualize-images.js"></script>
{% endblock %}

{% block script %}
  $(document).ready(function () {
      window.VisualizeImages.setDataset("{{dataset}}");
  });
{% endblock %}
