{% extends "main_template.html" %}
{% block content_header %}
      <h1>
        All images from <b>{{ dataset }}</b>
        <!-- <small>Optional description</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="/annotator-supreme/">Home</a></li>
        <li class="active">Just a test, go home!</li>
      </ol>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/annotator-supreme/static/meerkat/css/visualize_images.css">
<section class="image-grid">
  {% for i in images %}
    <article class="image__cell is-collapsed">
      <a class="remove-img" data-id="{{ i.phash }}" href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
      <div class="image--basic">
          <div class="category-img"> {{ i.category }}</div>
          <a href="#expand-jump-0"><img id="expand-jump-0" class="basic__img lazy" data-original="/annotator-supreme/image/thumb/{{ i.url }}" alt="{{i.phash}}" width=200 height=200></a>
          <div class="arrow--up"></div>
      </div>
      <div class="image--expand">
          <a href="#close-jump-0" class="expand__close"></a>
          <img class="image--large lazy" data-original="/annotator-supreme/image/{{ i.url }}" alt="{{i.phash}}">
          <div class="image-details">
            <div class="row">
              <div class="det-field">Phash: </div><div class="det-value">{{i.phash}}</div>
            </div>
            <div class="row">
              <div class="det-field">Name: </div><div class="det-value">{{i.name}}</div>
            </div>
            <div class="row">
              <div class="det-field">Url: </div><div class="det-value"><a href="/annotator-supreme/image/{{i.url}}" target="_blank">{{i.url}}</a></div>
            </div>
            <div class="row">
              <div class="det-field">Resolution: </div><div class="det-value">{{i.width}} x {{i.height}}</div>
            </div>
            <div class="row">
              <div class="det-field">Last Modified: </div><div class="det-value">{{i.last_modified.strftime('%Y-%m-%d')}}</div>
            </div>
            <div class="row">
              <div class="det-field">Partition: </div><div class="det-value">{{i.partition}}</div>
            </div>
            <div class="row">
              <div class="det-field">Fold: </div><div class="det-value">{{i.fold}}</div>
            </div>
            <div class="det-button">
              <button type="button" class="btn btn-block btn-default"><i class="fa fa-fw fa-mail-forward"></i>Annotate</button>
            </div>



            <!-- <div class="row">
              {{i.annotation}}
            </div>
             -->
          </div>
      </div>
  </article>
{% endfor %}

<!-- {'phash': 'fe4cfbd0259045a06b9315be49a60c1e', 'url': 'nascar2/fe4cfbd0259045a06b9315be49a60c1e', 'width': 922, 'height': 520, 'name': '', 'annotation': [bbox(labels=['Nascar'], top=131.0, left=6.0, bottom=354.0, right=912.0, ignore=False)], 'category': 'default', 'partition': 0, 'fold': 0, 'last_modified': datetime.datetime(1970, 1, 18, 8, 35, 18, 246000)} -->

</section>  
{% endblock %}
{% block load_script %}
<script src="/annotator-supreme/static/meerkat/js/visualize-images.js"></script>
<script src="/annotator-supreme/static/plugins/jquery.lazyload/jquery.lazyload.min.js"></script>

{% endblock %}

{% block script %}
  $('body').addClass('sidebar-collapse');
  $(document).ready(function () {
    $("img.lazy").lazyload({
      effect : "fadeIn"
    });
    window.VisualizeImages.setDataset("{{dataset}}");
  });
{% endblock %}
